.catalog-filter{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalog-inner{
    display: flex;
    flex-direction: row;    
}
.items-inner{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.items{
    margin-left: 1.5rem;
}
.card{
    margin-bottom: 1rem;
}
.filter-dropdown{
    margin: 20px;
    width: 100%;
}
.filter-dropdown-btn{
    padding: 20px 15px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgb(58 58 68 / 24%), 0px 2px 4px rgb(90 91 106 / 24%);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-title-cont{
    display: flex;
    align-items: center;
}
@media(max-width:767px){
    .catalog-filter{
        width: 100%;
    }
    .catalog-inner{
        flex-direction: column;
    }
    .items-inner{
        justify-content: center;
        margin-top: 1rem;
    }
}