.payment-type{
    width: 33%;
}
.payment-title{
    background: #F4F3F8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-title-inner{
    font-size: 22px;
    font-weight: 400;
}
.payment-type-inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.delivery-map-title{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.delivery-zones-title{
    display: flex;
    flex-direction: row;
    padding: 20px 80px
}
.delivery-zones-title p{
    width: 25%;
}
.delivery-zones-title p:first-child{
    width: 50%;
}
.map{
    width: 100%;
}
iframe{
    width: 100%;
}
.delivery-zones{
    margin-bottom: 120px;
}